<web-app version="5.0">

  <display-name>Hello World</display-name>

  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.mycompany.hello.HelloServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

</web-app>